/*miguel angell gallardo lemus*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 5px;
    background-color: yellow;
}

.caja {
    width: 200px;
    /* Altura automática según el contenido */
    background-color: lightblue;
    border: 2px solid blue;
    margin: 10px;
    padding: 10px 5px 3px 4px;
}

/* Identificadores para personalizar cada caja */
#caja1 {
    /* mantiene valores por defecto */
       border: 5px solid rgb(78, 234, 6);
       margin: 10px;
      padding: 10px;
}

#caja2 {
    /* modificaremos aquí */
      border: 5px solid rgb(245, 6, 78);
      margin: 20px;
      padding: 5px;
}

#caja3 {
    /* modificaremos aquí */
        border: 5px solid rgb(179, 21, 241);
        margin: 5px;
        padding: 50px;
}

